body {
    background: url(http://source.unsplash.com/Q_RBVFFXR_g);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    margin: 0px 100px;
}

h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 800;  
    margin: 10px 0px 10px 0px;
}

h2 {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
}

ul {
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

#column-center {
    width: 48%;
    margin: auto;
    background: url(http://source.unsplash.com/C9k1LfbM23M);
    float: center;
    text-align: center;
}

#column-right {
    width: 48%;
    height: 350px;
    margin: auto;
    background: url(http://source.unsplash.com/JF4o7WErDn8);
    float: right;
}

#column-left {
    width: 48%;
    height: 350px;
    margin: auto;
    background: url(http://source.unsplash.com/FO7JIlwjOtU);
    float: left;
}


