body {
    background: url(http://source.unsplash.com/Kwi60PbAM9I);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    margin: 0px 100px 0px 100px;
}

h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 800;  
    margin: 10px 0px 10px 0px;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

ul {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    list-style: none;
}

li {
    background: rgba(0, 0, 0, 0.4);
}

footer {
    text-align: center;
}

img {

}